<div id="header" class="shadow">
   <div class="nav">
      <ul>
         <li><%= link_to t('navigation.home'), root_path %></li>
<!--          <li><%= link_to t('navigation.help'), help_path %></li> -->
         <li><%= link_to t('navigation.jobs'), jobs_path %></li>

         <% if user_signed_in? %>
         <!-- <li><%= link_to t('navigation.newjob'), wizard_area_path %></li> -->
         <li class="username"><%= t 'footer.logged_in_as' %>: <%= current_user.email %></li>
         <% else %>
         <li><span class="btn" id="login"><%= link_to t('users.login'), new_user_session_path %></span></li>
         <% end %>


      </ul>
   </div>
   <div class="logo">
      <img src="<%= asset_path 'layout/hot_logo.png' %>">
      <h1>OSM Export Tool</h1>
   </div>
</div>

<div id="switch_language" style="float: right;">
<% unless (params[:controller] == "jobs" and params[:action] == "wizard_configuration") %>
<p>
<%= link_to_unless I18n.locale == :id, "Bahasa Indonesia", :locale => :id %>
|
<%= link_to_unless I18n.locale == :de, "Deutsch", :locale => :de %>
|
<%= link_to_unless I18n.locale == :en, "English", :locale => :en %>
|
<%= link_to_unless I18n.locale == :es, "Español", :locale => :es %>
|
<%= link_to_unless I18n.locale == :fr, "Français", :locale => :fr %>
|
<%= link_to_unless I18n.locale == :ja, "日本語", :locale => :ja %>
</p>
<% end %>
</div>
